@@import url(@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,700,900);)
@@import url(@import url(https://fonts.googleapis.com/css?family=Indie+Flower);)
#para1{
  font-weight: bold;
 }
h2{
  font-weight: normal;
  font-family: "indie flower" , cursive;
  color: red;
}
body {
  font-family: "Raleway" , sans-serif;
  font-size: 24px;
}
#para1 {
  font-weight: 100;
  font-family: "Raleway", sans-serif;
}

#para2 {
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

#para3 {
  font-weight: 700;
  font-family: "Raleway" , sans-serif;
}

#para4{
  font-weight: 900;
  font-family: "Raleway" , sans-serif;
}
h3{
  font-weight: normal;
  font-family: "Indie Flower" , cursive;
}
